<div class="row" xmlns="http://www.w3.org/1999/html">
  <div class="span8">
    <%= simple_form_for @user, html: { class: "form-horizontal" } do |f| %>
        <legend><strong>Profile</strong>: <%= @user.name %></legend>
        <%= f.input :name, input_html: { class: "span6" } %>
        <%= f.input :email, input_html: { class: "span6" } %>
        <%= f.input :avatar_url, input_html: { class: "span6" } %>
        <div class="form-actions">
          <%= f.button :submit, class: "btn-primary" %>
          <%= submit_tag "Cancel", type: :reset, class: "btn" %>
        </div>
    <% end %>
  </div>
  <div class="span4">
    <a class="thumbnail">
      <%= image_tag get_avatar_url(current_user, size: 300), alt: @user.name %>
    </a>
  </div>
</div>